<div class="shadow p-3 mb-3 d-flex justify-space-between">
<% if group.icon.present? %>
<%= image_tag group.icon, class: "img-thumbnail mr-3 bg-image" %>
<% end %>
  <div class="d-flex flex-column justify-content-between flex-fill px-3 py-2">
    <%= link_to group_path(@group), class: "fs-5 fw-bold text-secondary text-decoration-none mb-2" do %>
      <%= @group.name %>
    <% end %>
    <p class="opacity-25 m-0"><%= @group.created_at.strftime("%d %h %Y") %></p>
    <% @total = 0 %>
    <% @group.groups_assets.each { |e| @total += e.asset.amount } %>
    <p class="mt-2 fw-bold">Total: $<%= @total %></p>
  </div>
</div>
