<%= form_with(model: @group) do |form| %>
  <div>
    <%= link_to root_path do %>
  
    <% end %>
    <h2>NEW CATEGORY</h2>
    <%= form.submit 'Save'%>
  </div>
   <div class="p-2">
    <%= form.text_field :name, placeholder: 'Name'%>
   </div>
   <div class="p-2">
    <%= form.text_field :icon, placeholder: 'Icon\'s link' %>
   </div>
<% end %>